@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
    --color-blue: #0a3871;
    --color-light-blue: #f3f5fc;
    --color-light-blue2: #d8dfe8;
    --color-gray: #495057;
    --color-grayDark: #343a40;
}

body {
    background: var(--color-light-blue);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", monospace;
}

.container-input {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input {
    width: 400px;
    height: 30px;
}
#input-texto {
    width: 345;
    height: 330px;
    font-size: 1.25rem;
    color: var(--color-blue);
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10px;
    text-transform: lowercase;
}
#input-texto p {
    font-size: 0.62rem;
    color: var(--color-blue);
}

#output {
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    width: 350px;
    height: 400px;
    margin-right: 3%;
}
#output h2 {
    text-align: center;
    font-size: 1.56rem;
    color: var(--color-blue);
}

#output span {
    font-size: 1rem;
    text-align: center;
    color: var(--color-gray);
}

.container-btn button {
    background: var(--color-blue);
    border: 2px solid var(--color-blue);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
    margin-top: 20xp;
}
#output img {
    max-width: 500px;
    max-height: 600px;
    width: auto;
    height: auto;
    margin-top: 4%;
    background: transparent;
}

.btn-copiar {
    border: 2px solid var(--color-blue);
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-blue);
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}
.container-btn button:hover {
    border: 2px solid var(--color-light-blue2);
    transition: 0.5s all;
}
.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 20px;
    background: var(--color-light-blue);
    color: var(--color-grayDark);
}

.rodape h3 {
    font-size: 1rem;
}

.icons ion-icon {
    width: 25px;
    height: 25px;
    color: var(--color-grayDark);
}

.icons ion-icon:hover {
    color: var(--color-light-blue2);
}
